{
	'extends': 'airbnb',
		'parser': 'babel-eslint',
		'env': {
			'jest': true,
		},
		'rules': {
			'array-callback-return': 'off',
			'arrow-body-style': 'off',
			'arrow-parens': 'off',
			'camelcase': 'off',
			'comma-dangle': 'off',
			'consistent-return': 'off',
			'eqeqeq': 'off',
			'import/no-extraneous-dependencies': 'off',
			'import/no-named-as-default': 'off',
			'import/no-unresolved': 'off',
			'import/prefer-default-export': 'off',
			'indent': ['error', 4],
			'guard-for-in': 'off',
			'jsx-a11y/accessible-emoji': 'off',
			'max-len': 'off',
			'no-await-in-loop': 'off',
			'no-confusing-arrow': 'off',
			'no-console': 'off',
			'no-lonely-if': 'off',
			'no-nested-ternary': 'off',
			'no-param-reassign': 'off',
			'no-plusplus': 'off',
			'no-restricted-globals': 'off',
			'no-restricted-syntax': 'off',
			'no-shadow': 'off',
			'no-undef': 'off',
			'no-underscore-dangle': 'off',
			'no-use-before-define': 'off',
			'no-useless-escape': 'off',
			'operator-linebreak': 'off',
			'prefer-const': 'off',
			'prefer-destructuring': 'off',
			'quote-props': 'off',
			'react/destructuring-assignment': 'off',
			'react/forbid-prop-types': 'off',
			'react/jsx-boolean-value': 'off',
			'react/jsx-filename-extension': 'off',
			'react/jsx-indent': ['error', 4],
			'react/jsx-indent-props': ['error', 4],
			'react/jsx-one-expression-per-line': 'off',
			'react/prop-types': 'off',
			'func-names': 'off'
		},
		'globals': {
			"fetch": false
		},
		'ignorePatterns': [
			"docs/",
			"truffle_scripts/",
			"node_modules/",
			"scripts/old/",
			"scripts/performance_tests/",
		  "coverage"
		],
}
